@import "normalize.css";

.wrapper {
  background-image: url("../image/background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  font-family: AdobeInvisFont, "Courier New", Verdana, sans-serif;
}

.navigation {
  padding: 45px 150px 45px;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  display: inline-block;
  position: center;
}

.logo {
  background: url("../image/logo.png") no-repeat;
  font-size: 29px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  padding-left: 60px;
  height: 45px;
  width: 150px;
  line-height: 0.8;
  font-weight: bold;
}

.logo:hover {
  background: url("../image/logo-orange.png") no-repeat;
  color: #f26522;
}

.text-size {
  font-size: 18px;
}

.contacts {
  font-size: 18px;
  text-align: right;
  display: inline-block;
  float: right;
  line-height: 1.4;
  font-weight: bold;
}

.contacts-link {
  text-decoration: none;
  color: white;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1060px;
  box-sizing: border-box;
}

.clearfix {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.list-item {
  float: left;
  width: 307px;
  box-sizing: border-box;
  margin-right: 69px;
  margin-bottom: 60px;
}

.list-item:nth-child(3n) {
  margin-right: 0;
}

.image-container {
  position: relative;
  overflow: hidden;
}

.orange-box {
  display: inline-block;
  color: white;
  width: 100%;
  height: 63px;
  position: absolute;
  background: #f26522;
  transform: translateY(100%);
  transition: 0.3s;
  bottom: 0;
  left: 0;
  padding: 15px 20px;
  box-sizing: border-box;
}

.link {
  text-decoration: none;
  transition: color 0.3s;
}

.link:hover .box-name {
  color: #f26522;
}

.link:hover .orange-box {
  transform: translateY(0);

}

.orange-box-price {
  width: 38px;
  text-align: left;
  display: inline-block;
  font-size: 10px;
  padding: 0 0 20px 17px;
}

.price {
  font-size: 20px;
}

.orange-box-text {
  float: right;
  display: inline-block;
  font-size: 14px;
  padding: 15px 0 0 0;
  position: relative;
}

.orange-box-text:after {
  position: relative;
  content: "";
  display: inline-block;
  width: 0.4em;
  height: 0.4em;
  border-right: 0.1em solid white;
  border-top: 0.1em solid white;
  transform: rotate(45deg);
  margin-left: 0.5em;
  opacity: 0.5;
}

.box-name {
  text-decoration: none;
  color: white;
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
}

.copyright {
  font-size: 12px;
  padding-bottom: 20px;
  color: white;
  clear: both;
  text-align: center;
}

